@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@import "tailwindcss/preflight";
@import "tailwindcss/theme" layer(theme);
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Vazirmatn", sans-serif;
}

@theme {
  --color-primary-100: #eaeefa;
  --color-primary-200: #b7c1de;
  --color-primary-300: #8494c2;
  --color-primary-400: #5167a6;
  --color-primary-500: #1e3a8a;
  --color-primary-600: #172d6c;
  --color-primary-700: #11214f;
  --color-primary-800: #0b1532;
  --color-primary-900: #050915;

  --color-secondary-100: #fef2e7;
  --color-secondary-200: #fedabf;
  --color-secondary-300: #fbc194;
  --color-secondary-400: #f7a765;
  --color-secondary-500: #f28c28;
  --color-secondary-600: #cf7721;
  --color-secondary-700: #ad6219;
  --color-secondary-800: #4f2a06;
  --color-secondary-900: #190901;

  --color-tertiary-100: #eaf6fb;
  --color-tertiary-200: #bde4f4;
  --color-tertiary-300: #90d0eb;
  --color-tertiary-400: #63bce2;
  --color-tertiary-500: #36a8d9;
  --color-tertiary-600: #2b82a8;
  --color-tertiary-700: #1e5c77;
  --color-tertiary-800: #113646;
  --color-tertiary-900: #041015;

  --color-neutral-100: #f0f3f5;
  --color-neutral-200: #d7e0e6;
  --color-neutral-300: #bfcdd5;
  --color-neutral-400: #a7bac4;
  --color-neutral-500: #8fa7b3;
  --color-neutral-600: #6d808a;
  --color-neutral-700: #4c5a61;
  --color-neutral-800: #2b3438;
  --color-neutral-900: #0a0e0f;

  --color-success-200: #a9d1b7;
  --color-success-300: #7eba94;
  --color-success-400: #67af83;
  --color-success-500: #319861;
  --color-success-600: #288152;
  --color-success-700: #185635;
  --color-success-800: #104227;

  --color-error-200: #f7aeac;
  --color-error-300: #eb939a;
  --color-error-400: #e26872;
  --color-error-500: #d93d4a;
  --color-error-600: #a82e39;
  --color-error-700: #772028;
  --color-error-800: #460d12;

  --color-warning-200: #ffd6b1;
  --color-warning-300: #ffc991;
  --color-warning-400: #ffb467;
  --color-warning-500: #ff9f3d;
  --color-warning-600: #c57c2d;
  --color-warning-700: #8c571e;
  --color-warning-800: #54310d;

  --color-info-200: #8dbbff;
  --color-info-300: #5f9eff;
  --color-info-400: #478fff;
  --color-info-500: #2b7fff;
  --color-info-600: #236cda;
  --color-info-700: #1c59b6;
  --color-info-800: #072554;

  --color-others-white1: #fffffe;
  --color-others-white2: #fefdfb;
  --color-others-zebra: #fcfcfc;
  --color-others-bg1: #fffcfe;
  --color-others-bg2: #f7f9fa;
  --color-others-glass: #eaeefa;
}
@tailwind utilities;

* {
  font-family: "Vazirmatn";
  direction: rtl;
}

.inverted-radius {
  --r: 30px;
  --s: var(--r);
  --x: var(--r);
  --y: var(--r);

  --_d: calc(var(--s) + var(--r));
  --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 99.9%, #0000
        100%);
  --_g: conic-gradient(
    from 180deg at var(--r) calc(100% - var(--r)),
    #0000 0.1%,
    #000 0
  );

  width: 450px;
  aspect-ratio: 1;
  border-radius: var(--r);

  mask: calc(var(--_d) + var(--x)) 100% var(--_m),
    0 calc(100% - var(--_d) - var(--y)) var(--_m),
    radial-gradient(var(--s) at 0 100%, #0000 99.9%, #000 100%)
      calc(var(--r) + var(--x)) calc(-1 * var(--r) - var(--y)),
    var(--_g) calc(var(--_d) + var(--x)) 0,
    var(--_g) 0 calc(-1 * var(--_d) - var(--y));

  mask-repeat: no-repeat;
}
