@import "tailwindcss/preflight";
@import "tailwindcss/theme" layer(theme);

@theme{
  --color-primary-100: #EAEEFA;
   --color-primary-200: #B7C1DE;
  --color-primary-300: #8494C2;
  --color-primary-400: #5167A6;
  --color-primary-500: #1E3A8A;
  --color-primary-600: #172D6C;
  --color-primary-700: #11214F;
  --color-primary-800: #0B1532;
  --color-primary-900: #050915;

  --color-secondary-100: #FEF2E7;
  --color-secondary-200: #FEDABF;
  --color-secondary-300: #FBC194;
  --color-secondary-400: #F7A765;
  --color-secondary-500: #F28C28;
  --color-secondary-600: #CF7721;
  --color-secondary-700: #AD6219;
  --color-secondary-800: #4F2A06;
  --color-secondary-900: #190901;

  --color-tertiary-100: #EAF6FB;
  --color-tertiary-200: #BDE4F4;
  --color-tertiary-300: #90D0EB;
  --color-tertiary-400: #63BCE2;
  --color-tertiary-500: #36A8D9;
  --color-tertiary-600: #2B82A8;
  --color-tertiary-700: #1E5C77;
  --color-tertiary-800: #113646;
  --color-tertiary-900: #041015;

  --color-success-200: #A9D1B7;
  --color-success-300: #7EBA94;
  --color-success-400: #67AF83;
  --color-success-500: #319861;
  --color-success-600: #288152;
  --color-success-700: #185635;
  --color-success-800: #104227;

  --color-error-200: #F7AEAC;
  --color-error-300: #EB939A;
  --color-error-400: #E26872;
  --color-error-500: #D93D4A;
  --color-error-600: #A82E39;
  --color-error-700: #772028;
  --color-error-800: #460D12;

  --color-warning-200: #FFD6B1;
  --color-warning-300: #FFC991;
  --color-warning-400: #FFB467;
  --color-warning-500: #FF9F3D;
  --color-warning-600: #C57C2D;
  --color-warning-700: #8C571E;
  --color-warning-800: #54310D;

  --color-info-200: #8DBBFF;
  --color-info-300:#5F9EFF;
  --color-info-400:#478FFF;
  --color-info-500:#2B7FFF;
  --color-info-600:#236CDA;
  --color-info-700:#1C59B6;
  --color-info-800:#072554;

  --color-others-white1:#FFFFFE;
  --color-others-white2:#FEFDFB;
  --color-others-zebra:#FCFCFC;
  --color-others-bg1:#FFFCFE;
  --color-others-bg2:#F7F9FA;
  --color-others-glass:#EAEEFA;
  
}
@tailwind utilities;


* {
  direction: rtl;
}

